@{
    ViewData["Title"] = "Home Page";
}

<style>
    .pb-3 {
        background-color: white;
    }

    .img {

    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Best Church Movie App</h1>
    <p>Enjoy Your Time!</p>
    <img src=@Url.Content("~/images/movie.jpg") class="img-fluid rounded"/>
</div>
